/* Extra Small */ 
@media(max-width:767px){} 
/* Small */ 
@media(min-width:768px) and (max-width:991px){} 
/* Medium */ 
@media(min-width:992px) and (max-width:1199px){} 
/* Large */ 
@media(min-width:1200px){
}

@media(max-width:1070px){
	.fa-bars{
		padding-left: 20px;
		font-size: 19px;
		display: block;
	}
	.menu{
		display: none;
		position: absolute;
		top: 12px;
		right: 0%;
		background-color: #434f58;
	}
	.visible{
  		display: block;
	}

	.content{
		margin-top: 26px;
		margin-right: 20%;
	}
	body{
  		background-size: auto;
  	}
  	.label-red{
  		right: 6%;
  	}
  	.seam{
  		right: 6%;
  	}
}
@media(max-width:767px){
	.content{
		margin-top: 26px;
		margin-right: 18%;
	}
	.content p {
    	padding: 21px 18px 20px 18px;
	}

}
@media(max-width:600px){
	.logo-mini{
		display: block;
	}
	.logo{
		display: none;
	}
}
@media(max-width:424px){
	.logo-mini{
		display: none;
	}
	.content{
		margin: 26px 6%;
	}
}
@media(min-width:1440px){
	.content{
		max-width: 890px;
	}
}
@media(min-width:2000px){
	.content{
		max-width: 1220px;
	}
}
@media(max-width:905px){
/*	body{
  		background-size: 100%;
  	}*/
/*  	.label-red{
  		display: none;
  	}*/
}
